VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ2bGN6a3dyZXNzd3l6a296dXp5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcyMzQ3MjQsImV4cCI6MjA5MjgxMDcyNH0.uAo7giqhZpb82XihfyZLUVAVZYaky_cmtDdlopgpA64
NEXT_PUBLIC_SUPABASE_URL=https://rvlczkwresswyzkozuzy.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_6JI5QH64JLH9-baX596eEA_q20Dm0rW
